{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block page_title %} {% endblock page_title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.3.0/alpine.js"
            integrity="sha512-nIwdJlD5/vHj23CbO2iHCXtsqzdTTx3e3uAmpTm4x2Y8xCIFyWu4cSIV8GaGe2UNVq86/1h9EgUZy7tn243qdA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body x-data="{isNavbarOpen: false}">

<div class="flex h-screen bg-gray-200 font-roboto">

    {% include 'partials/sidebar.html' %}

    <div class="flex-1 flex flex-col overflow-hidden">

        {% include 'partials/header.html' %}

        {% block content %}

        {% endblock content %}

    </div>

</div>

</body>

</html>
